<div class="panel panel-clear">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3 class="text-primary">{{ fund.name }}</h3>
        <strong>{{ fund['Legal Structure Taxonomy Id'] }}</strong>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="col-xs-3">
          <span style="vertical-align: -webkit-baseline-middle">Share Class</span>
        </div>
        <div class="col-xs-9">
          <select name="shareClass" ng-model="model.shareClass" class="form-control">
            <option selected="selected" label="All">All</option>
            <option ng-repeat="shareClass in fund.shareClasses" >{{ shareClass['Short Name'] }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="list-unstyled">
          <li ng-if="model.shareClass == 'All'">
            <div class="row">
              <div class="col-xs-6">
                <span>Share Class</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Short Name'] || '-' }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>ISIN</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['ISIN Code'] || '-' }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Currency</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Fund Currency Code'] || '-' }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Asset Class</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Asset Class Taxonomy Id'] || '-' }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Region</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Region Taxonomy Id'] || '-' }}</span>
              </div>
            </div>
          </li>

        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="list-unstyled">
          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Launch Date</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Launch Date'] | dateFormat: 'MM/dd/yyyy' }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Fund Size</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Compound Return 1 Year Annual'] | currency:"" }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Morningstar Ratings</span>
              </div>
              <div class="col-xs-6">
                <morning-star-rating rating=" {{ currentClass['Morningstar - SRRI Track Risk Rating'] }}"></morning-star-rating>
              </div>
            </div>
          </li>

        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="list-unstyled">
          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Yield</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Yield Current'] | percentage }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>Date</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Last Update'] | dateFormat: 'dd MMM yyyy' }}</span>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-xs-6">
                <span>NAV</span>
              </div>
              <div class="col-xs-6">
                <span>{{ currentClass['Price NAV'] | currency:"" }}</span>
              </div>
            </div>
          </li>

        </div>
      </div>
    </div>
  </div>
  <ng-include src="'templates/fundAllClasses.html'"></ng-include>
  <ng-include src="'templates/fundCharts.html'"></ng-include>
</div>
